div {
  margin: 10px 0px;
}

.header {
  height: 50px;
  background-color: pink;
  border: 1px solid red;
}

.navbar {
  background-color: yellow;
  border: 1px solid brown;
}

.content {
  background-color: skyblue;
  border: 1px solid black;
}

.footer {
  height: 100px;
  background-color: yellowgreen;
  border: 1px solid green;
}

@media only screen and (max-width: 799px) {
  .body > div {
    display: block;
  }
  .body .navbar {
    height: 100px;
  }
  .body .content {
    height: 150px;
  }
}
@media only screen and (min-width: 800px) {
  .body > div {
    display: inline-block;
  }
  .body .navbar {
    width: 18%;
    height: 400px;
  }
  .body .content {
    width: 80%;
    height: 400px;
  }
}
